{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>P4 Drawing</title>

    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>

    <style type="text/css">
    </style>

</head>
<body>
    <!-- You may change the dimensions of this canvas -->
    <canvas id="myCanvas" width="750px" height="750px"></canvas>
</body>
<script>

    // setting up the canvas and one paper tool
    var canvas = document.getElementById('myCanvas');
    var context = canvas.getContext('2d');
    var startx;
    var starty;
    var paintingStauts = false;
    var randomcolor = randomRgbColor();
  
    paper.setup(canvas);
    var tool = new paper.Tool();
        tool.onMouseDown = function(event)
        { 
          paintingStauts = true;
          startx = event.point.x;
          starty = event.point.y;
        }
        tool.onMouseMove = function(event)
        {
          if(paintingStauts)
          {
           context.beginPath();
          var nowcolor = randomcolor
          point = event.point;
          context.strokeStyle = nowcolor;
          context.moveTo(startx, starty);
          context.lineTo(point.x, point.y);
          context.lineWidth = 1;
          
          context.stroke();
            var abc = 
                {
                  status:paintingStauts,
                  x1:startx,
                  y1:starty,
                  x2:point.x,
                  y2:point.y,
                  color:context.strokeStyle
                }
            var a = JSON.stringify(abc);
            socket.send(a);
          startx = point.x;
          starty = point.y;
          }
          
         }
        tool.onMouseUp = function(event)
        {
          paintingStauts = false;
        }
    // getting the URL (you may want to use for Exercise 3)
    var url = window.location.href;

    var socket = new WebSocket('wss://p3-websockets-TLHHWK-hwke19895462.codeanyapp.com/ws/draw');
    
    socket.onmessage = function(receivedMessage) 
      {
      //if(url == 'http://p3-websockets-tlhhwk-hwke19895462.codeanyapp.com/draw'){
      context.beginPath();
      var data = JSON.parse(receivedMessage.data);
      context.moveTo(data.x1,data.y1);
      context.lineTo(data.x2,data.y2);
      context.strokeStyle = data.color;
      context.stroke();
      //}
        // do something when you receive a message
      };
    socket.onopen = function(event)
      {
      }
        
    // notify console if socket closes unexpectedly
    socket.onclose = function(e) 
      {
      console.error('Chat socket closed unexpectedly');
      };
    
  //1b assignment
  function randomRgbColor() { //随机生成RGB颜色
    var r = Math.floor(Math.random() * 256); //随机生成256以内r值
    var g = Math.floor(Math.random() * 256); //随机生成256以内g值
    var b = Math.floor(Math.random() * 256); //随机生成256以内b值
    return `rgb(${r},${g},${b})`; //返回rgb(r,g,b)格式颜色
    }
    //2a assignment
    var currhandle=0;//判断操作是否完成
    if(window.DeviceMotionEvent){
        var speed = 5;  
        var x = y = z = lastX = lastY = lastZ = 0;  
        window.addEventListener('devicemotion', function(){  
            var acceleration =event.accelerationIncludingGravity;  
            x = acceleration.x;  
            y = acceleration.y;  
            z = acceleration.z;
            if(Math.abs(x-lastX) > speed || Math.abs(y-lastY) > speed || Math.abs(z-lastZ) > speed+10) {  
            	if(currhandle==0){
            		//setbegin();//摇一摇事件触发后执行操作
            		currhandle=0;
                context.clearRect(0,0,canvas.width,canvas.height);  
            	}	
            }  
            lastX = x;  
            lastY = y;  
            lastZ = z;
        }, false);  
    }else{
    	alert("您的设备不支持重力感应事件！");
    }
 window.addEventListener('deviceorientation',(event)=>
{
   if(event.gamma>80){
    randomcolor = 'rgb(122,122,122)';
   context.strokeStyle = randomcolor;
   }
 });
  //2b assignment
   

</script>
</html>
