{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>P4 Drawing</title>

    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>

    <style type="text/css">
    </style>

</head>
<body>
    <!-- You may change the dimensions of this canvas -->
    <canvas id="myCanvas" width="750px" height="750px"></canvas>
</body>
<script>

    // setting up the canvas and one paper tool
    var canvas = document.getElementById('myCanvas');
    var context = canvas.getContext('2d');
    var startx;
    var starty;
    var paintingStauts = false;
    paper.setup(canvas);
    var tool = new paper.Tool();
        //MouseDown and MouseMove and MouseUp is used to draw the line TiancaishaonianHWK
        tool.onMouseDown = function(event)
        {
          paintingStauts = true;
          startx = event.point.x;
          starty = event.point.y;
        }
        tool.onMouseMove = function(event)
        {
          if(paintingStauts)
          {
          point = event.point;
          context.moveTo(startx, starty);
          context.lineTo(point.x, point.y);
          context.lineWidth = 1;
          context.stroke();
            var abc = 
                {
                  status:paintingStauts,
                  x1:startx,
                  y1:starty,
                  x2:point.x,
                  y2:point.y
                }
            var a = JSON.stringify(abc);
            socket.send(a);
          startx = point.x
          starty = point.y
          }
         }
        tool.onMouseUp = function(event)
        {
          paintingStauts = false;
        }
    // getting the URL (you may want to use for Exercise 3)
    var url = window.location.href;
//     let gameObj = 
//        {
//     // 当前是否在绘图
//     isDrawing: false,
//     // 绘制下一条线的起点
//     startX: 0,
//     startY: 0,
//      endX:0,
//       endy:0
//        }
    var socket = new WebSocket('wss://p3-websockets-TLHHWK-hwke19895462.codeanyapp.com/ws/draw');
//       function sendCanvas ()
//       {
//          var canvasContents = canvas.toDataURL(); // a data URL of the current canvas image
//          var data = { image: canvasContents, date: Date.now() };
//          var string = JSON.stringify(data);
//          socket.send(string);
//       }
    socket.onmessage = function(receivedMessage) 
      {
    
          var data = JSON.parse(receivedMessage.data);
      context.moveTo(data.x1,data.y1);
      context.lineTo(data.x2,data.y2);
      context.stroke();
//         console.log(data);
        // do something when you receive a message
      };
    socket.onopen = function(event)
      {
       // sendCanvas();
      }
        
    // notify console if socket closes unexpectedly
    socket.onclose = function(e) 
      {
      console.error('Chat socket closed unexpectedly');
      };

</script>
</html>
